@import '../Variables/Variables.scss';

.contact-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $contactBannerColor;
	padding: 80px;
	transform: translateY(-50%);
	position: absolute;
	top: 0;

	h2 {
		font-size: 50px;
		color: white;
		max-width: 80%;
	}
}
